.header__nav__logo{
    font-family: 'Satisfy', cursive;
}

.header{
    border-bottom: 1px solid #eae8e8;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 13px 10%;
}

.header__nav__icon a{
    color:black;
}

.header__nav__logo{
    margin-right: 60px;
}

.header__nav__logo span a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.header__nav__icon{
    font-size: 22px;
    position: relative;
}

.header__nav__icon i{
    margin-right: 15px;
}

.header__nav__search input{
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    border: 1px solid #d4d2d2;
    width: 210px;
    height: 25px;
    font-size: 14px;
}

.nav__profile{
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 100%;
    margin-left: 10px;
}

.main{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    height: 1000px;
}

.main__container{
    margin-top: 20px;
    border-radius: 5px;
}

.main__topbar{
    display: flex;
    border: 1px solid #eae8e8;
    background-color: white;
}

.main__topbar__namebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    border-right: 1px solid #eae8e8;
    padding: 15px;
}

.topbar__namebox__name{
    display: flex;
    justify-content: center;
    margin-left: 27%;
}

.topbar__namebox__name span{
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
}

.topbar__namebox__icon{
    font-size: 20px;
}

.opponent__profilebox__profile{
    background-image: url(proflie.png);
    width: 25px;
    height: 25px;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    margin-right: 10px;
}

.main__topbar__opponent{
    width: 500px;
    display: flex;
    align-items: center;
}

.topbar__opponent__profliebox{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.opponent__profilebox__text{
    display: flex;
    flex-direction: column;
}

.opponent__profilebox__text span:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.opponent__profilebox__text span:nth-child(2){
    font-size: 11px;
    color: gray;
}

.topbar__opponent__icon{
    font-size: 20px;
    margin-left: 60%;
}

.bottombar__list__profile{
    background-image: url(proflie.png);
    width: 45px;
    height: 45px;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    margin-left: 20px;
}

.main__bottombar{
    display: flex;
    background-color: white;
    border-left: 1px solid #eae8e8;
    border-right: 1px solid #eae8e8;
    border-bottom: 1px solid #eae8e8;
}

.main__bottombar__list{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 330px;
    border-right: 1px solid #eae8e8;
}

.bottombar__list__direction{
    display: flex;
}

.bottombar__list__text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 12px;
    margin-top: 7px;
}

.bottombar__list__text span:nth-child(2){
    margin-top: 5px;
    color: gray;
}

.main__bottombar__list > div:not(:first-child){
    margin-top: 10px;
    padding-top: 10px;
}

.bottombar__list__direction:last-child{
    background-color: #e8e8e8;
    padding-bottom: 10px;
}

.main__bottombar__dmbox{
    width: 500px;
    height: 600px;
}

.bottombar__dmbox__container{
    margin-top: 50%;
    text-align: center;
}

.dmbox__container__time{
    color: gray;
    font-size: 12px;
}

.dmbox__container__text span{
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(230, 230, 230);
    font-size: 13px;
}

.dmbox__container__text{
    margin: 3% 2% 5%;
    text-align: right;
    
}

.dmbox__container__img img{
    margin-left: 45%;
    border: 1px solid #e8e8e8;
    border-radius: 30px;
}

.dmbox__container__opponent{
    display: flex;
    margin: 11% 0px 0px 3%;
}

.dmbox__container__opponent span{
    border-radius: 50px;
    border: 1px solid #e8e8e8;
    padding: 10px;
    font-size: 12px;
}

.dmbox__container__chatting{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    padding: 5px;
    border: 1px solid #e8e8e8;
    border-radius: 50px;
    width: 450px;
    margin-left: 15px;
}

.dmbox__container__chatting div{
    margin: 0px 10px;
}

.container__chatting__icon{
    font-size: 25px;
}

.chatting__text{
    width: 70%;
    font-size: 12px;
    border:none;
}

@media screen and (min-width: 376px) and (max-width:425px) {
    .header__nav__search{
        display: none;
    }

    .header__nav{
        margin: 13px 0px;
        justify-content: flex-start;
        margin-left: 10px;
        display: none;
    }

    .header__nav__icon{
        position: absolute;
        left: 180px;
    }

    .header__nav__logo{
        margin-right: 170px;
    }

    .header__nav__icon i{
        margin-right: 10px;
    }

    .main__bottombar__dmbox{
        display: none;
    }

    .main__topbar__opponent{
        position: absolute;
        left: 70%;
        height: 1000px;
        background-color: white;
        width: 124.5px;
        display: none;
    }
    
    .main{
        justify-content: flex-start;
    }

    .main__container{
        margin:0px;
        width: 100%;
    }

    .main__topbar{
        border-top: none;
    }

    .header__nav__icon{
        position: absolute;
        left: 210px;
    }

    .topbar__opponent__profliebox{
        display: none;
    }

    .topbar__opponent__icon{
        display: none;
    }

    .main__topbar__namebox{
        border:none;
        width: 100%;
    }

    .main__bottombar__list{
        border: none;
        display: none;
    }

    .main__bottombar{
        height: 100%;
    }
}

@media screen and (min-width: 321px) and (max-width:375px) {
    .header__nav__search{
        display: none;
    }

    .header__nav{
        margin: 13px 0px;
        justify-content: flex-start;
        margin-left: 10px;
        display: none;
    }

    .header__nav__icon{
        position: absolute;
        left: 110px;
    }

    .header__nav__logo{
        margin-right: 170px;
    }

    .header__nav__icon i{
        margin-right: 10px;
    }

    .main__bottombar__dmbox{
        display: none;
    }

    .main__topbar__opponent{
        position: absolute;
        left: 70%;
        height: 1000px;
        background-color: white;
        width: 127.5px;
        display: none;
    }
    
    .main{
        justify-content: flex-start;
    }

    .main__container{
        margin:0px;
        width: 100%;
    }

    .main__topbar{
        border-top: none;
    }

    .header__nav__icon{
        position: absolute;
        left: 160px;
    }

    .topbar__opponent__profliebox{
        display: none;
    }

    .topbar__opponent__icon{
        display: none;
    }

    .main__topbar__namebox{
        border:none;
        width: 100%;
    }

    .main__bottombar__list{
        border: none;
        display: none;
    }

    .main__bottombar{
        height: 100%;
    }
}

@media screen and (min-width: 1px) and (max-width:320px) {
    .header__nav__search{
        display: none;
    }

    .header__nav{
        margin: 13px 0px;
        justify-content: flex-start;
        margin-left: 10px;
        display: none;
    }

    .header__nav__icon{
        position: absolute;
        left: 110px;
    }

    .header__nav > div:last-child{
        position: absolute;
        left: 110px;
    }

    .header__nav__logo{
        margin-right: 170px;
    }

    .header__nav__icon i{
        margin-right: 10px;
    }

    .main__bottombar__dmbox{
        display: none;
    }

    .main__topbar__opponent{
        position: absolute;
        left: 70%;
        height: 1000px;
        background-color: white;
        width: 127.5px;
        display: none;
    }
    
    .main{
        justify-content: flex-start;
    }

    .main__container{
        margin:0px;
        width: 100%;
    }

    .main__topbar{
        border-top: none;
    }

    .header__nav__icon{
        position: absolute;
        left: 210px;
    }

    .topbar__opponent__profliebox{
        display: none;
    }

    .topbar__opponent__icon{
        display: none;
    }

    .main__topbar__namebox{
        border:none;
        width: 100%;
    }

    .main__bottombar__list{
        border: none;
        display: none;
    }

    .main__bottombar{
        height: 100%;
    }
}