#container{
    background-color: #f9f9f9;
    height: 1000px;
}

.header__nav__logo{
    font-family: 'Satisfy', cursive;
}

.header{
    border-bottom: 1px solid #eae8e8;
    position: relative;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 13px 10%;
    background-color: white;

}

.nav__proring{
    width: 27px;
    height: 27px;
    border-radius: 100%;
    border: 2px solid transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #707070aa, #707070aa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: absolute;
    left: 879px;
}

.header__nav__icon a{
    color:black;
}

.header__nav__logo{
    margin-right: 60px;
}

.header__nav__logo span a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.header__nav__icon{
    font-size: 22px;
}

.header__nav__icon i{
    margin-right: 15px;
}

.header__nav__search input{
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    border: 1px solid #d4d2d2;
    width: 210px;
    height: 25px;
    font-size: 14px;
}

.nav__profile{
    width: 21px;
    height: 22px;
    position: absolute;
    border-radius: 100%;
    margin-left: 10px;
}

.main{
    display: flex;
    justify-content: center;
}

.main__profilebox{
    margin-top: 30px;
    display: flex;
    width: 700px;
}

.main__profilebox__img{
    background-image: url(proflie.png);
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
}

.main__profilebox__text{
    margin: 0px 0px 0px 70px;
    display: flex;
    flex-direction: column;
}

.profilebox__text__h1{
    display: flex;
    align-content: center;
    margin-bottom: 20px;
}

.profilebox__text__h1 div:nth-child(1){
    font-size: 25px;
    font-weight: 300;
}

.profilebox__text__h1 div:nth-child(2){
    border: 1px solid #e8e8e8;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin: 2px 15px 0px;
    font-size: 14px;
}

.profilebox__text__h1 div:nth-child(3){
    margin-top: 2px;
    font-size: 25px;
}

.profilebox__text__h2{
    font-size: 14px;
    margin-bottom: 20px;
}

.profilebox__text__h2 b{
    font-weight: bold;
}

.profilebox__text__h3{
    font-weight: bold;
}

.profilebox__text__h3 span{
    font-size: 14px;
}

.body__header{
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 50px auto;
    border-top: 2px solid #e8e8e8;
    padding-top: 15px;
    position: relative;
    font-size: 12px;
}

.border--{
    border-top: 2px solid black;
    padding-top: 15px;
    font-weight: bold;
}

.body__header__text{
    display: flex;
    position: absolute;
    top: -2px;
}

.body__header__text > div:not(:first-child){
    padding-top: 17px;
    color: gray;
}

.body__header__text > div:nth-child(2){
    margin: 0px 60px;
}

.body__header__text > div:nth-child(3){
    margin-right:60px;
}

.body2__img{
    width: 450px;
    height: 450px;
    display: flex;
}

.body2__link{
    background-color: white;
    border: 1px solid brown;
    width: 450px;
    height: 450px;
    display: flex;
}

.body2{
    display: flex;
    justify-content: center;
}

.img__box__one img{
    width: 150px;
    height: 150px;
}

.body2__img > .body2__img__box:nth-child(1){
    margin-right: 1px;
}

.body2__img__box > .img__box__one:nth-child(2){
    margin: 1px 0px;
}

.body2__img > .body2__img__box:nth-child(2){
    margin-right: 1px;
}

.border--top--left{
    border-top-left-radius: 5px;
}

.border--top--right{
    border-top-right-radius: 5px;
}

.border--bottom--left{
    border-bottom-left-radius: 5px;
}

.border--bottom--right{
    border-bottom-right-radius: 5px;
}

.body2__link__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body2__link__textbox div:nth-child(1){
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.body2__link__textbox div:nth-child(2){
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.body2__link__imgbox img{
    border-radius: 5px;
}

.footer{
    color: gray;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    font-size: 12px;
}

.footer > *{
    text-align: center;
}

.footer__text1 > span{
    margin: 0px 5px;
}

.footer__text2{
    margin-top: 20px;
}