.header__nav__logo{
    font-family: 'Satisfy', cursive;
}

.header{
    border-bottom: 1px solid #eae8e8;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 13px 10%;
}

.header__nav__logo{
    margin-right: 60px;
}

.header__nav__logo span a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.header__nav__icon{
    font-size: 22px;
    position: relative;
}

.header__nav__icon i{
    margin-right: 15px;
}

.header__nav__search input{
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    border: 1px solid #d4d2d2;
    width: 210px;
    height: 25px;
    font-size: 14px;
}

.nav__profile{
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 100%;
    margin-left: 10px;
}

.main{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}

.profile__box__img{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 2px solid transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #ffb50dd6, #ff00c2aa, #ff00c2);    background-origin: border-box;
    background-clip: content-box, border-box;
}

.main__profile{
    background-image: url(proflie.png);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 3px;
    margin-top: 3px;
}

.left__profile__box{
    width: 50px;
}

.main__left{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.main__left__profile{
    border: 1px solid #eae8e8;
    background-color: white;
    display: flex;
    padding: 15px;
    border-radius: 3px;
}

.main__left__profile > div:not(:last-child){
    margin-right: 15px;
}

.left__profile__name{
    margin-top: 2px;
    font-size: 13px;
    text-align: center;
}

.main__left__story{
    width: 537px;
    border: 1px solid #eae8e8;
    margin-top: 20px;
}